# Lab - Week2

## Questions:

1. When do the first and last flights leave each day?

1. When there is a missing value in dep_time then this is an indication of canceled flight. Find the number of cancelled flights for each (carrier, origin) combination.

1. Which carrier has the worst dep_delays?

1. Which plane (tailnum) has the worst on-time record?

1. For each plane, count the number of flights before the first delay of greater than 1 hour.

1. By using the flights data find all flights:

1. Had an arrival delay of two or more hours.

1. Flew to Houston (IAH or HOU)

1. Were operated by American, Delta

1. How many values are missing in dep_time?

1. Sort flight to find fastest flight.

1. Which flights travelled the shortest?

1. Merge `flights` dataframe with `weather` dataframe and investigate if weather has any affect on delays

In [2]:
import pandas as pd

flights = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv')

weather = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/relational_data/nyc_weather.csv')

# example merge:
# flights.merge(weather, on= ['year', 'month', 'day', 'hour', 'origin'])

In [3]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

In [27]:
flights.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [4]:

flgihts_d= flights.groupby(['month', 'day'])['dep_time'].agg(['min', 'max']).reset_index()
flgihts_d = flgihts_d.rename(columns={'min': 'first_flight', 'max': 'last_flight'})
flgihts_d

     month  day  first_flight  last_flight
0        1    1         517.0       2356.0
1        1    2          42.0       2354.0
2        1    3          32.0       2349.0
3        1    4          25.0       2358.0
4        1    5          14.0       2357.0
..     ...  ...           ...          ...
360     12   27           2.0       2351.0
361     12   28           7.0       2358.0
362     12   29           3.0       2400.0
363     12   30           1.0       2356.0
364     12   31          13.0       2356.0

[365 rows x 4 columns]

In [5]:
cancelled_flights_1 = flights.groupby(['carrier','origin'])['dep_time'].apply(lambda x: x.isna().sum()).reset_index()
cancelled_flights_1

   carrier origin  dep_time
0       9E    EWR        68
1       9E    JFK       807
2       9E    LGA       169
3       AA    EWR        99
4       AA    JFK       141
5       AA    LGA       396
6       AS    EWR         2
7       B6    EWR        74
8       B6    JFK       315
9       B6    LGA        77
10      DL    EWR        39
11      DL    JFK       100
12      DL    LGA       210
13      EV    EWR      2164
14      EV    JFK        82
15      EV    LGA       571
16      F9    LGA         3
17      FL    LGA        73
18      HA    JFK         0
19      MQ    EWR       168
20      MQ    JFK       327
21      MQ    LGA       739
22      OO    EWR         0
23      OO    LGA         3
24      UA    EWR       435
25      UA    JFK        44
26      UA    LGA       207
27      US    EWR        75
28      US    JFK        26
29      US    LGA       562
30      VX    EWR        10
31      VX    JFK        21
32      WN    EWR       105
33      WN    LGA        87
34      YV    LGA        56

In [6]:
worst_dept_delay = flights.groupby(["carrier"])["dep_delay"].sum().reset_index()
print(worst_dept_delay.iloc[0])

carrier          9E
dep_delay    291296
Name: 0, dtype: object

In [7]:
max_index = flights['arr_delay'].idxmax()
print(flights.at[max_index, 'arr_delay'])
max_delay_tailnum = flights.at[max_index, 'tailnum']
print(max_delay_tailnum)

1272.0
N384HA

In [19]:
flights_list1 = flights.flight.unique().tolist()
flights_list1

[1545,
 1714,
 1141,
 725,
 461,
 1696,
 507,
 5708,
 79,
 301,
 49,
 71,
 194,
 1124,
 707,
 1806,
 1187,
 371,
 4650,
 343,
 1919,
 4401,
 1895,
 1743,
 1077,
 3768,
 303,
 135,
 709,
 575,
 245,
 1837,
 496,
 4626,
 4599,
 27,
 413,
 1665,
 4646,
 1019,
 4144,
 711,
 389,
 1002,
 556,
 926,
 1701,
 102,
 883,
 1496,
 203,
 117,
 1383,
 1415,
 1865,
 2003,
 305,
 1815,
 4534,
 1115,
 1879,
 1547,
 399,
 2279,
 981,
 831,
 960,
 1203,
 671,
 1092,
 715,
 825,
 544,
 850,
 987,
 962,
 11,
 2083,
 1162,
 473,
 20,
 1601,
 1111,
 44,
 643,
 309,
 1479,
 983,
 33,
 341,
 495,
 59,
 1668,
 3737,
 2263,
 477,
 1733,
 2267,
 2047,
 733,
 517,
 1843,
 2119,
 4406,
 1172,
 1838,
 223,
 1959,
 219,
 3,
 4490,
 269,
 4388,
 3538,
 2395,
 4260,
 4576,
 675,
 4537,
 914,
 346,
 1051,
 717,
 181,
 4418,
 4104,
 487,
 1223,
 1855,
 611,
 443,
 1480,
 905,
 1506,
 1592,
 313,
 4610,
 4412,
 4521,
 835,
 4558,
 1357,
 2304,
 553,
 3944,
 1741,
 4548,
 869,
 1626,
 3848,
 1747,
 1,
 2143,
 1296,
 51,
 485,
 1670,
 4478,
 1885,
 407,
 1170,
 580,
 4655,
 1401,
 1061,
 1643,
 56,
 1467,
 1220,
 655,
 647,
 1519,
 1589,
 783,
 721,
 41,
 1103,
 1305,
 4582,
 120,
 1004,
 215,
 57,
 1597,
 1335,
 4636,
 766,
 1148,
 375,
 255,
 251,
 4,
 17,
 3895,
 2137,
 1903,
 361,
 1807,
 319,
 4654,
 679,
 4175,
 600,
 4681,
 4670,
 222,
 75,
 1847,
 856,
 2379,
 1177,
 503,
 196,
 1625,
 3795,
 2319,
 1441,
 5736,
 1529,
 347,
 4709,
 4471,
 731,
 501,
 19,
 179,
 4277,
 23,
 1294,
 4180,
 779,
 321,
 985,
 31,
 4322,
 455,
 1060,
 739,
 1275,
 4589,
 373,
 1647,
 4479,
 2185,
 2171,
 3792,
 369,
 545,
 2071,
 688,
 4485,
 2099,
 24,
 285,
 1031,
 1086,
 4495,
 1057,
 405,
 641,
 1171,
 1085,
 4294,
 703,
 1143,
 327,
 2219,
 4553,
 133,
 409,
 1623,
 2175,
 1010,
 4876,
 353,
 4693,
 4275,
 863,
 1174,
 4658,
 1443,
 1947,
 4425,
 4511,
 4431,
 1197,
 743,
 1568,
 701,
 4347,
 1663,
 3850,
 25,
 523,
 1461,
 4216,
 625,
 4135,
 3697,
 391,
 1757,
 1715,
 4679,
 1114,
 5311,
 1131,
 428,
 1850,
 564,
 4118,
 2253,
 4404,
 4129,
 2174,
 315,
 66,
 1280,
 85,
 745,
 754,
 781,
 1251,
 4601,
 1459,
 2128,
 209,
 4426,
 348,
 329,
 1853,
 765,
 1006,
 1435,
 4640,
 32,
 4564,
 2041,
 2596,
 991,
 1615,
 4112,
 4340,
 4475,
 4106,
 393,
 1425,
 1185,
 2043,
 411,
 906,
 3849,
 615,
 4665,
 673,
 1073,
 431,
 3832,
 753,
 15,
 2335,
 4254,
 602,
 4434,
 4171,
 4370,
 2068,
 4552,
 1783,
 2162,
 4577,
 617,
 1258,
 4869,
 2247,
 4516,
 349,
 505,
 683,
 16,
 3728,
 83,
 1531,
 4491,
 257,
 5710,
 4687,
 4935,
 355,
 278,
 997,
 1161,
 601,
 1819,
 1322,
 1972,
 1231,
 1813,
 4292,
 337,
 4669,
 1769,
 1445,
 4403,
 4105,
 3295,
 61,
 4172,
 2179,
 4390,
 3843,
 119,
 1053,
 1997,
 685,
 1134,
 379,
 720,
 4429,
 5675,
 1105,
 377,
 456,
 4497,
 4447,
 759,
 4309,
 1687,
 537,
 2347,
 1456,
 153,
 4223,
 4333,
 1699,
 3823,
 1593,
 4146,
 530,
 1600,
 141,
 525,
 4525,
 1039,
 8,
 137,
 1695,
 3806,
 2223,
 459,
 3369,
 4372,
 4572,
 365,
 4093,
 2081,
 1222,
 705,
 1283,
 1773,
 636,
 3338,
 1942,
 4588,
 4181,
 80,
 3372,
 5709,
 620,
 3459,
 565,
 3331,
 847,
 3985,
 5163,
 1508,
 687,
 4502,
 5712,
 509,
 91,
 4088,
 702,
 1861,
 3272,
 917,
 591,
 4415,
 367,
 4579,
 12,
 465,
 763,
 157,
 1411,
 1619,
 1939,
 1635,
 4661,
 1178,
 95,
 35,
 63,
 4133,
 920,
 4352,
 143,
 4299,
 656,
 1726,
 190,
 3695,
 69,
 162,
 1176,
 3321,
 4580,
 4540,
 1790,
 1587,
 4336,
 4705,
 185,
 773,
 4539,
 706,
 3260,
 2773,
 1609,
 4323,
 695,
 689,
 1259,
 1905,
 1447,
 2121,
 342,
 1066,
 4194,
 635,
 1351,
 511,
 345,
 699,
 513,
 449,
 1712,
 543,
 512,
 145,
 1284,
 623,
 4092,
 139,
 547,
 2331,
 1339,
 2139,
 4413,
 1585,
 3651,
 527,
 163,
 1935,
 128,
 1307,
 535,
 9,
 3384,
 376,
 4373,
 1047,
 1016,
 989,
 1676,
 4581,
 1165,
 4382,
 4622,
 1152,
 4484,
 1228,
 7,
 217,
 618,
 4202,
 173,
 4417,
 638,
 924,
 3286,
 1973,
 1611,
 1139,
 4334,
 1684,
 4326,
 3830,
 1075,
 3730,
 668,
 4179,
 130,
 4517,
 4633,
 1292,
 2019,
 904,
 785,
 1613,
 177,
 645,
 5714,
 3364,
 29,
 2187,
 4674,
 947,
 1128,
 155,
 951,
 2944,
 4131,
 1967,
 2159,
 1444,
 853,
 2391,
 87,
 1629,
 3807,
 3359,
 1491,
 4569,
 1485,
 927,
 6,
 1606,
 359,
 3267,
 541,
 4125,
 171,
 5742,
 2075,
 4261,
 1071,
 4255,
 4085,
 21,
 4300,
 3325,
 1787,
 698,
 381,
 4410,
 3361,
 4532,
 415,
 1416,
 3409,
 4091,
 299,
 1181,
 1233,
 4361,
 3664,
 1709,
 1680,
 4644,
 1271,
 4649,
 4555,
 4440,
 1204,
 1762,
 3320,
 4204,
 3783,
 3899,
 47,
 1299,
 354,
 1069,
 3352,
 1318,
 4224,
 39,
 195,
 4660,
 629,
 115,
 834,
 994,
 1482,
 4356,
 619,
 3357,
 4423,
 165,
 147,
 4573,
 380,
 4170,
 4692,
 4507,
 3744,
 946,
 1241,
 4584,
 1020,
 1180,
 677,
 1517,
 529,
 4662,
 4119,
 3347,
 4543,
 383,
 227,
 4449,
 97,
 1106,
 515,
 43,
 4103,
 1999,
 1109,
 104,
 713,
 4462,
 4206,
 608,
 1018,
 4276,
 30,
 112,
 4312,
 4257,
 199,
 22,
 4321,
 727,
 4308,
 791,
 1925,
 125,
 1030,
 1453,
 402,
 5147,
 3136,
 1833,
 421,
 5310,
 1563,
 1567,
 516,
 3641,
 4460,
 4648,
 4150,
 387,
 1276,
 908,
 3829,
 1627,
 3831,
 1433,
 320,
 392,
 2163,
 756,
 1526,
 277,
 311,
 1509,
 1199,
 1581,
 4348,
 328,
 3373,
 807,
 1724,
 3643,
 4166,
 4233,
 4241,
 423,
 1167,
 4235,
 3521,
 1429,
 1218,
 1067,
 452,
 4160,
 3845,
 3383,
 4138,
 572,
 651,
 4691,
 2392,
 4420,
 4220,
 397,
 3754,
 3323,
 4974,
 974,
 4409,
 448,
 667,
 235,
 4140,
 493,
 4690,
 1484,
 279,
 4600,
 4159,
 4108,
 1765,
 3694,
 4195,
 1026,
 2343,
 1702,
 4246,
 1573,
 460,
 1785,
 2124,
 1605,
 491,
 642,
 3094,
 5218,
 1477,
 5026,
 3658,
 316,
 569,
 401,
 1248,
 1705,
 4247,
 3018,
 1037,
 1492,
 3223,
 4147,
 1672,
 633,
 3903,
 1869,
 408,
 1434,
 1186,
 1200,
 3294,
 4364,
 4316,
 1164,
 1685,
 2967,
 1153,
 468,
 3835,
 1122,
 2079,
 4859,
 566,
 1184,
 3793,
 1121,
 1166,
 3653,
 1552,
 2132,
 984,
 1483,
 1107,
 3799,
 4090,
 289,
 317,
 4617,
 4922,
 1242,
 1215,
 479,
 1473,
 3392,
 2305,
 2231,
 1043,
 864,
 161,
 1641,
 1556,
 1078,
 995,
 3358,
 627,
 4645,
 5132,
 2521,
 1779,
 1499,
 784,
 1125,
 74,
 1120,
 4317,
 2827,
 4702,
 3925,
 1209,
 1158,
 4272,
 2529,
 4844,
 979,
 597,
 1407,
 4151,
 1462,
 857,
 2450,
 1649,
 3983,
 3414,
 1269,
 884,
 1059,
 3401,
 2370,
 4153,
 762,
 3798,
 1221,
 4033,
 3420,
 1147,
 2131,
 1854,
 540,
 1244,
 1595,
 4695,
 5114,
 3274,
 437,
 2363,
 1422,
 4371,
 1108,
 1575,
 488,
 942,
 1247,
 1136,
 5716,
 4201,
 4708,
 5694,
 959,
 1036,
 4941,
 2057,
 4518,
 1570,
 2006,
 849,
 772,
 4424,
 4560,
 910,
 1528,
 4419,
 3839,
 5259,
 4122,
 338,
 2285,
 1555,
 4583,
 1455,
 510,
 604,
 1524,
 550,
 4559,
 799,
 1091,
 1889,
 482,
 549,
 ...]

In [22]:
flighs_with_arrival_delay = flights[flights["arr_delay"] >= 120.0]
flighs_with_arrival_delay

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
119,2013,1,1,811.0,630,101.0,1047.0,830,137.0,MQ,4576,N531MQ,LGA,CLT,118.0,544,6,30,2013-01-01T11:00:00Z
151,2013,1,1,848.0,1835,853.0,1001.0,1950,851.0,MQ,3944,N942MQ,JFK,BWI,41.0,184,18,35,2013-01-01T23:00:00Z
218,2013,1,1,957.0,733,144.0,1056.0,853,123.0,UA,856,N534UA,EWR,BOS,37.0,200,7,33,2013-01-01T12:00:00Z
268,2013,1,1,1114.0,900,134.0,1447.0,1222,145.0,UA,1086,N76502,LGA,IAH,248.0,1416,9,0,2013-01-01T14:00:00Z
447,2013,1,1,1505.0,1310,115.0,1638.0,1431,127.0,EV,4497,N17984,EWR,RIC,63.0,277,13,10,2013-01-01T18:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336579,2013,9,30,1823.0,1545,158.0,1934.0,1733,121.0,9E,3459,N916XJ,JFK,BNA,95.0,765,15,45,2013-09-30T19:00:00Z
336668,2013,9,30,1951.0,1649,182.0,2157.0,1903,174.0,EV,4294,N13988,EWR,SAV,95.0,708,16,49,2013-09-30T20:00:00Z
336724,2013,9,30,2053.0,1815,158.0,2310.0,2054,136.0,EV,5292,N600QX,EWR,ATL,91.0,746,18,15,2013-09-30T22:00:00Z
336757,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30T22:00:00Z
336763,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-10-01T00:00:00Z

In [25]:
flighs_with_arrival_delay["flight"]

119       4576
151       3944
218        856
268       1086
447       4497
          ...
336579    3459
336668    4294
336724    5292
336757    3320
336763    1083
Name: flight, Length: 10200, dtype: int64

In [31]:
flights_dest_houston = flights[(flights["dest"].astype(str) == "IAH" or flights["dest"].astype(str) == "HOU")]
flights_dest_houston

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [3]:
weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30T23:00:00Z